.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text>* {
    text-align: center;
    color: aliceblue;
    font-family: 'Indie Flower', Scursive;
    font-weight: 800;
    text-shadow:
        -2px 0px 0px rgb(0, 0, 0),
        2px 0px 0px rgb(0, 0, 0),
        0px -2px 0px rgb(0, 0, 0),
        0px 2px 0px rgb(0, 0, 0);
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 55vmin;
    max-height: 65vmax;
    aspect-ratio: 1/1;
    box-sizing: border-box;

}

.cell {
    background-color: rgba(172, 227, 229, 0.795);
    border: 0.3vmin solid rgb(81, 95, 95);
    color: white;
    font-family: 'Indie Flower', Scursive;
    font-weight: bold;
    font-size: 10vmin;

}

.menu {
    position: fixed;
    height: 55vh;
    width: 50vw;
    max-width: 50vh;
    top: 23vh;
    background: dimgray;
    background-size: 200%;
    border: 10px #373737 double;
}

.menu>* {
    margin: 3% 2%;
    border: 5px solid rgba(220, 20, 60, 0);
    border-radius: 30%;
}

.menu>h4 {
    color: aliceblue;
    font-size: 4.3vh;
    text-decoration: underline aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
    text-shadow:
        -2px 0px 0px #373737,
        2px 0px 0px #373737,
        0px -2px 0px #373737,
        0px 2px 0px #373737;
}

.menuButton {
    /*â— */
    width:8vw;
    max-width:8vh;
    opacity: 0.8;
}

.menu>img:hover {
    opacity: 1;
}

.menu>button {
    height: 20vh;
    width: 20%;
    position: absolute;
    border: 5px rgb(60, 59, 59) solid;
    font-size: larger;
}

.animation {
    animation-name: mebaabea;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.animationOutput {
    animation-name: mebaabea2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.bUp {
    border-top: 0;
}

.bRight {
    border-right: 0;
}

.bDown {
    border-bottom: 0;
}

.bLeft {
    border-left: 0;
}


.red {
    color: red;
    text-shadow: rgb(180, 0, 0) 2px 0 2px;

}

.redBG {
    background-color: rgb(180, 0, 0);
}

.blue {
    color: blue;
    text-shadow: rgb(0, 0, 180) 2px 0 2px;
}

.blueBG {
    background-color: rgb(0, 0, 180);
}

.hide {
    display: none;
}

.chosen {
    border: 5px solid #00f7ffcb;
    border-radius: 30%;
    opacity: 1;
}

.playAgain {
    color: aliceblue;
    background-color: black;
    animation-iteration-count: 1;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: -webkit-fill-available;
    border: 0.3vmin solid rgb(81, 95, 95);

}

.playAgain:hover {
    background-color: grey;
}

#main {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto auto auto; */
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#header {
    font-size: 55px;
    line-height: 70%;
    margin-bottom: 0;
}

#output {
    font-size: 30px;
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.583);
    width: 50vw;
    max-width: 200px;
    margin: 5% auto;
    line-height: 90%;

}

#score {
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    background-color: black;
    margin: 2% auto 4%;
    border-radius: 20px;
    border: 1px solid #00f7ffcb;
}

body {
    background-image: url("background.png");
    background-size: 15%;
    background-attachment: fixed;
    height: 90%;
    user-select: none;

}

html {
    height: 100%
}

@media only screen and (orientation: portrait) {
    
    #header {
        margin-bottom: 2.5vh;
        font-size: 65px;
    }

    #output{
        font-size: 40px;
        position: relative;
    }

    body {
        background-size: 40%;
    }

    .playAgain {
        /* font-size: 50px; */
        width: 50%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin: auto 5px;
    }

    .menu {
        width: 70vw;
        height: 70vw;
        top: calc(50vh - 35vw);
    }

    .menu>* {
        margin: 4% 0.2%;
    }

    .menu>h4 {
    font-size: 6vw;
    }

    .menuButton {
        width: 13vw;
        height: auto;
    }

}

@keyframes mebaabea {
    0% {
        font-size: 10vmin;
    }

    50% {
        font-size: 11.7vmin;
    }

    100% {
        font-size: 10vmin;
    }
}

@keyframes mebaabea2 {
    0% {
        font-size: 30px;
    }

    50% {
        font-size: 50px;
    }

    100% {
        font-size: 30px;
    }
}

@keyframes mebaabea3 {
    0% {
        font-size: 30px;
    }

    50% {
        font-size: 60px;
    }

    100% {
        font-size: 30px;
    }
}

@import url('IndieFlower-Regular.ttf');