.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text>* {
    text-align: center;
    color: aliceblue;
    font-family: 'Indie Flower', Scursive;
    font-weight: 800;
    text-shadow:
        -2px 0px 0px rgb(0, 0, 0),
        2px 0px 0px rgb(0, 0, 0),
        0px -2px 0px rgb(0, 0, 0),
        0px 2px 0px rgb(0, 0, 0);
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 55vmin;
    max-height: 65vmax;
    aspect-ratio: 1/1;
    box-sizing: border-box;

}

.cell {
    background-color: rgba(172, 227, 229, 0.795);
    border: 0.3vmin solid rgb(81, 95, 95);
    color: white;
    font-family: 'Indie Flower', Scursive;
    font-weight: bold;
    font-size: 10vmin;

}

.animation {
    animation-name: mebaabea;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.animationOutput {
    animation-name: mebaabea2;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.bUp {
    border-top: 0;
}

.bRight {
    border-right: 0;
}

.bDown {
    border-bottom: 0;
}

.bLeft {
    border-left: 0;
}


.red {
    color: red;
    text-shadow: rgb(180, 0, 0) 2px 0 2px;

}

.redBG {
    background-color: rgb(180, 0, 0);
}

.blue {
    color: blue;
    text-shadow: rgb(0, 0, 180) 2px 0 2px;
}

.blueBG {
    background-color: rgb(0, 0, 180);
}

.playAgain {
    color: aliceblue;
    animation-iteration-count: 1;
    font-size: 25px;

}

#main {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto auto auto; */
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#header {
    font-size: 55px;
    line-height: 70%;
    margin-bottom: 0;
}

#output {
    font-size: 30px;
    border-radius: 40%;
    background-color: rgba(0, 0, 0, 0.583);
    width: 50vw;
    max-width: 200px;
    margin: 5% auto;
    line-height: 90%;

}

#score {
    color: aliceblue;
    background-color: black;
    min-width: 33vmin;
    max-width: 35vmax;
    margin: 2% auto 4%;
    padding: 2px auto;
    text-align: center;
    border-radius: 20px;
}

body {
    background-image: url("ti2.jpg");
    background-attachment: fixed;
    height: 90%
}

html {
    height: 100%
}

@media only screen and (orientation: portrait) {
    #header {
        font-size: 150px;
    }

    #output {
        font-size: 60px;
        max-width: 400px;
        animation-name: mebaabea3;
    }

    #score {
        font-size: 50px;

    }

}

@keyframes mebaabea {
    0% {
        font-size: 10vmin;
    }

    50% {
        font-size: 11.7vmin;
    }

    100% {
        font-size: 10vmin;
    }
}

@keyframes mebaabea2 {
    0% {
        font-size: 30px;
    }

    50% {
        font-size: 50px;
    }

    100% {
        font-size: 30px;
    }
}

@keyframes mebaabea3 {
    0% {
        font-size: 60px;
    }

    50% {
        font-size: 100px;
    }

    100% {
        font-size: 60px;
    }
}

@import url('IndieFlower-Regular.ttf');