:root {
    --color1: #cc0da8;
    --color2: #6f44ff;
    --color3: #293253;
}

body {
    /* background-color: var(--color3); */
    background-image: url('../siteBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    color: white;
    font-weight: 900;
    font-size: 2em;

}

main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 100px;
}

.gameContainer {
    width: 500px;
}

.gameWindow {
    height: 300px;
    width: 400px;
    max-width: 90vw;
    margin: 10px auto;
    background-color: lightseagreen;
    border: 10px solid var(--color2);
    border-color: var(--color2) var(--color1) var(--color1) var(--color2);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gameDescription {
    font-size: large;
    text-align: center;
    margin: 10px auto;
}

/* @media (min-width: 576px) {
    .gameContainer {
        display: flex;
        align-items: center;
    }
} */