body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100vw;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.headerItem {
    display: flex;
    align-items: center;
    font-size: large;
    border: 1px solid bisque;
}

.headerSpacer {
    height: 50px;
}

.gameContainer {
    width: 500px;
}

.gameWindow {
    height: 300px;
    width: 400px;
    margin: 10px auto;
    background-color: lightseagreen;
    border: 2px solid grey;
    border-radius: 7px;
}

.gameDescription {
    font-size: large;
    text-align: center;
    margin: 10px auto;
}

/* @media (min-width: 576px) {
    .gameContainer {
        display: flex;
        align-items: center;
    }
} */