:root {
    --color1: #f1c95a;
    --color2: #6cd47f;
    --color3: #293253;
}

body {   
    background-color: var(--color1);
    color: var(--color3);
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

a {
    color: var(--color3);
    text-decoration: none;
}

.gameContainer {
    width: 500px;
}

.gameWindow {
    height: 300px;
    width: 400px;
    max-width: 90vw;
    margin: 10px auto;
    background-color: lightseagreen;
    border: 10px outset var(--color2);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gameDescription {
    font-size: large;
    text-align: center;
    margin: 10px auto;
}

/* @media (min-width: 576px) {
    .gameContainer {
        display: flex;
        align-items: center;
    }
} */