body {

    background-image: url('./Images/backgroundBody.webp');
    background-size: 100vw 100vh;
}

.gamepad {
    height: 75vh;
    aspect-ratio: 5/ 16;
    background-color: #aa7c08;
    border: #926903 solid 0.3vh;
    color: aliceblue;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gamepadRight {
    border-radius: 0 23% 23% 0;
}

#gamepadLeft {
    border-radius: 23% 0 0 23%;
}

.button {
    background-color: #d90808;
    border: #a00505 solid 2px;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 7vh;


}

#canvas {
    background-color: blanchedalmond;
    border: 2.8vh #be952d solid;
    height: 70vh;
    aspect-ratio: 4/3;
}

footer {
    position: absolute;
    bottom: 1vh;
    right: 3vw;
    text-align: end;
    width: 100vw;
    color: black;
    font-weight: 700;

}

footer>span {
    font-weight: 900;
    color: #402e01;
}

@media only screen and (orientation: portrait) {
    #canvas {
        height: 45vw;
        border: 2.2vw #be952d solid;
        aspect-ratio: 4/3;
    }

    .gamepad {
        height: 48.4vw;
        border: #926903 solid 0.5vw;
        aspect-ratio: 5/ 16;
    }
}