.gamepad {
    height: 486px;
    width: 150px;
    background-color: #aa7c08;
    border: #926903 solid 2px;
    color: aliceblue;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gamepadRight {
    border-radius: 0 23% 23% 0;
}

#gamepadLeft {
    border-radius: 23% 0 0 23%;
}

.button {
    background-color: #d90808;
    border: #a00505 solid 2px;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
section {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5vh;


}

#canvas {
    background-color: blanchedalmond;
    border: 20px #be952d solid;
    width: 600px;
    height: 450px;
}

#score {
    color: black;
    font-size: 20vh;
}

a {
    margin-right: 18%;
}

img {
    height: 0;
    width: 0;
}