
.button {
    height: 490px;
    width: 150px;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 23%;
    margin-left: -20px;
    margin-right: -20px;
}

section {
    display: flex;
    margin-top: 3vh;


}

#canvas {
    background-color: blanchedalmond;
    border: 20px blueviolet solid;
    width: 600px;
    height: 450px;
}
a{
    margin-right: 18%;
}