:root {
    --color1: #fff9e8;
    --color2: #6cd47f;
    --color3: #293253;
}

body {
    margin: 0;
    background-color: var(--color1);
    color: var(--color3);
}

.header {
    width: 100%;
    height: 50px;
    background-color: #E8E3C8;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header a {
    color: var(--color3);
    text-decoration: none;
}

.headerItem {
    display: flex;
    align-items: center;
    font-size: large;
    user-select: none;
}

.headerSpacer {
    height: 50px;
}

.dropdownMenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    overflow: auto;
}

.dropdownButton:hover .dropdownMenu {
    display: block;
}

.dropdownMenu p {
    margin: 0;
    padding: 15px 5px;
    background-color: lightgrey;
    border-top: 0;
    cursor: pointer;
}

.dropdownMenu p:hover {
    background-color: var(--color2);
}