body {
    background-color: lightgreen;
}

table {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-collapse: collapse;
    width: 250px;
    height: 250px;
}


td {
    padding: 0;
    background-color: white;
    border: 0.5px grey solid;
}

.numbersContainer {
    display: flex;
    position: absolute;
    background-color: white;
}

.numberElement {
    border: 1px solid grey;
    flex-grow: 1;
    display: flex;
    flex-shrink: 0;
}

.topNumberElement {
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.sideNumberElement {
    justify-content: right;
    align-items: center;
}

.number {
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideNumberElement .number{
    margin-right: 10px;
}

.sideNumberElement .number{
    margin-right: 5px;
}

.selectedCell {
    background-color: black;
}

.rejectedCell {
    background-image: url("X.png");
    background-size: contain;
}

#gameWindow {
    position: relative;
    width: 375px;
    height: 375px;
    background-color: lightcoral;
    margin: 100px auto;
    user-select: none;
    font-family: 'Sofia Sans', sans-serif;
}

#topNumbers {
    bottom: 260px;
    right: 10px;
    height: 100px;
    width: 250px;
}

#sideNumbers {
    bottom: 10px;
    right: 260px;
    height: 250px;
    width: 100px;
    flex-direction: column;
}

#levelSelect {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

#levelSelect div {
    height: 20%;
    width: 50%;
    background-color: green;
}

#victoryText {
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.75;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}